@font-face {
  font-family: "Rubik-Bold";
  font-weight: 700;
  font-style: normal;
  src:  local("Rubik Bold"),
        local("Rubik-Bold"),
        url("../fonts/rubik/Rubik-Bold.woff2") format("woff2"),
        url("../fonts/rubik/Rubik-Bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Rubik-Medium";
  font-weight: 500;
  font-style: normal;
  src:  local("Rubik-Medium"),
        local("Rubik-Medium"),
        url("../fonts/rubik/Rubik-Medium.woff2") format("woff2"),
        url("../fonts/rubik/Rubik-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Rubik-Regular";
  font-weight: 400;
  font-style: normal;
  src:  local("Rubik Regular"),
        local("Rubik-Regular"),
        url("../fonts/rubik/Rubik-Regular.woff2") format("woff2"),
        url("../fonts/rubik/Rubik-Regular.woff") format("woff");
  font-display: swap;
}