body {
  background-color: $bgc;
  @extend %r-400;
  color: #fff;
  font-size: 18px;
  line-height: 27px;
}

a {
  transition: all 0.3s;
  &:hover {
    color: $accent;
  }
}

#container {
  height: 100%;
  overflow: auto;
  position: relative;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  padding: 0 33px 0 0;
}

.ssb_down {
  display: none;
  background-color: #ffffff;
  bottom:0;
  cursor: pointer;
  position:absolute;
  right:0;
}

.ssb_sb {
  background-color: #ffffff;
  cursor: pointer;
  position:absolute;
  right:0;
}

.ssb_sb_down {
  background-color: #ffffff;
}

.ssb_sb_over {
  background-color: #ffffff;
}

.ssb_st {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  height:100%;
  position:absolute;
  right:0;
  top:0;
}

.ssb_up {
  display: none;
  background-color: #ffffff;
  cursor: pointer;
  position:absolute;
  right:0;
  top:0;
}

.container {
  max-width: 1520px;
  // height: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

// .logo {
// }

.red-btn {
  display: block;
  color: $accent;
  border: 1px solid $accent;
  border-radius: 100px;
  padding: 0 20px;
  height: 44px;
  width: 100%;
  @extend %r-500;
  font-size: 16px;
  line-height: 0;
  transition: all 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    font-size: 13px;
  }
  &:hover {
    color: #fff;
    border: 1px solid #fff;
  }
}

.title {
  @extend %r-500;
  font-size: 72px;
  line-height: 85px;
  position: relative;
}

