body {
  background-color: $bgc;
	@extend %r-400;
	color: #fff;
	font-size: 18px;
	line-height: 27px;
}

a {
	transition: all 0.3s;
	&:hover {
		color: $accent;
	}
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.container {
	max-width: 1520px;
	height: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

.header,
.partners,
.services,
.categories,
.blog,
.how,
.cases,
.testimonials,
.team,
.contact {
	height: 100vh;
}

// .logo {
// }

.red-btn {
	display: block;
	color: $accent;
	border: 1px solid $accent;
	border-radius: 100px;
	padding: 0 20px;
	height: 44px;
	@extend %r-500;
	font-size: 16px;
	line-height: 42px;
	transition: all .3s;
	span {

	}
	&:hover {
		color: #fff;
		border: 1px solid #fff;
	}
}

.title {
	@extend %r-500;
	font-size: 72px;
	line-height: 85px;
	position: relative;
}