%r-700 {
  font-family: "Rubik-Bold";
  font-weight: 700;
}
%r-500 {
  font-family: "Rubik-Medium";
  font-weight: 500;
}
%r-400 {
  font-family: "Rubik-Regular";
  font-weight: 400;
}

$default: #fff;
$optional: #18191F;
$accent: #ff6333;
$sub: #747474;

$bgc: #1A191A;