%r-700 {
  font-family: "Roboto-Bold";
  font-weight: 700;
}
%r-500 {
  font-family: "Roboto-Medium";
  font-weight: 500;
}
%r-400 {
  font-family: "Roboto-Regular";
  font-weight: 400;
}

$default: #fff;
$optional: #18191F;
$accent: #FF6333;
$sub: #747474;

$bgc: #1A191A;