@import "reset";
@import "vars";
@import "fonts";
@import "libs";
@import "mixins";
@import "global";

//==========================================HEADER=========================================
//==========================================HEADER=========================================

.header {
	display: flex;
	flex-direction: column;
	// &__top {
	// }
	&__top-inner {
		height: 72px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// &__top-nav {
	// }
	// &__top-logo {
	// }
	// &__top-contact {
	// }
	&__main {
		margin: auto 0;
	}
	// &__main-inner {
	// }
	&__main-title {
		@extend %r-500;
		font-size: 96px;
		line-height: 114px;
		max-width: 815px;
		margin-bottom: 165px;
	}
	&__main-socials {
		display: flex;
	}
	&__main-item + &__main-item {
		margin-left: 40px;
	}
	// &__main-link {
	// }
}

.menu {
	&__list {
		display: flex;
		margin: 0 -15px;
	}
	&__list-item + &__list-item {
		margin-left: 25px;
	}
	&__list-link {
		display: block;
		padding: 15px;
		@extend %r-500;
		line-height: 21px;
	}
}

.contact-block {
	display: flex;
	align-items: center;
	margin-left: -10px;
	&__phone {
		display: block;
		margin-right: 27px;
		padding: 10px;
		@extend %r-500;
	}
	// &__btn {
	// }
}

//=========================================PARTNERS=========================================
//=========================================PARTNERS=========================================

.partners {
	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
	}
	&__title {
		margin-bottom: 31px;
		@include smiles("../images/astronaut.png", 231px, 192px, 13px, -14px, 0.6);
	}
	&__text {
		max-width: 920px;
		margin-bottom: 115px;
	}
	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		margin: 0 -15px;
		filter: grayscale(1);
	}
	&__item {
		padding: 0 15px;
	}
}

//=========================================PARTNERS=========================================
//=========================================PARTNERS=========================================

.services {
	&__inner {
		height: 100%;
		display: flex;
		align-items: center;
		margin: 0 -15px;
	}
	&__col-tabs {
		flex: 0 0 50%;
		padding: 0 15px;
	}
	&__title {
		margin-bottom: 80px;
	}
	&__tab-list {
		padding-left: 190px;
	}
	&__tab-item {
		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__tab-link {
		font-size: 24px;
		line-height: 28px;
		transition: all .3s;
		&--active {
			@extend %r-700;
		}
	}
	&__col-images {
		flex: 0 0 50%;
		height: 100%;
		padding: 0 15px;
		position: relative;
	}
	&__image {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		visibility: hidden;
		transition: all .3s;
		img {
			position: absolute;
			top: 50%;
			right: 0;
			height: 100%;
			width: 100%;
			transform: translateY(-50%);
			max-height: 885px;
			object-fit: contain;
			object-position: 100%;
		}
		&--show {
			transition: all .3s .3s;
			opacity: 1;
			visibility: visible;
		}
	}
}







@import "media";
